# Exercise notebook 1 - Python and variables

This Exercise notebook complements the Chapter on *python and variables*. <br>
Try to prepare the <ins>underlined exercises </ins> for the exercise sessions.

1. <ins>create a variable called first_name, and put your own name as value.

In [1]:
first_name = "Ruben"

2. <ins> Print the variable 'first_name' using the print function. </ins>

In [3]:
print(first_name)

Ruben

3. <ins>Create another variable 'last_name' and add your surname as a value. Concatenate the two strings and add this to a variable 'full_name'. <br> *Make sure that your first name and surname are divided by a whitespace* </ins>

In [6]:
last_name = "Peeters"
full_name = first_name +" "+ last_name
full_name

'Ruben Peeters'

4. <ins> Create two more variables 'x' and 'y' and assign a number to each variable. </ins>

In [10]:
x = 2
y = 6

5. <ins>Multiply the above two numbers together using their variables and store the result into a new variable. <br>Print the new variable to check if the multiplication worked.</ins>

In [11]:
z = x*y
print(z)

12

6. <ins> Use the same multiplication method to repeat *a string* several times.</ins>

In [12]:
"repeat"*9

'repeatrepeatrepeatrepeatrepeatrepeatrepeatrepeatrepeat'

7. <ins>Change the cell so that output will be 'True'

In [13]:
x = 12
y = 3*4
x == y

True

8. <ins> Can you explain why an error occurs when running the cell below and fix the error(s)? </ins>

In [16]:
my_name = 'Tommy'
river_fish_ = 'herring' 
nr_spartans = 300
Equals10 = 15 
age = 46 
Time = 'Noon' 
Cruise = Hardy = Hanks = 'Tom' 

# my-name has a dash in the variable name which python recognizes as a subtraction
# 300 was used as variable name but was a number which is a reserved word in Python
# Age which is character/string was used as a variable name, which is not allowed
# Noon was set between unequal quotation marks -> " " and ' '  were mixed

9. <ins> There are 94 taken seats in the cinema. 46 of the seats are taken by students, who only have to pay 8,5 euros entry. <br>The rest has to pay 10.50 euros. How much would it cost to pay for everyone's ticket? <ins>

In [19]:
total_seats = 94
student_seats = 46
student_price = 8.5
adult_price = 10.5


total_cost = student_seats*student_price + (total_seats-student_seats)*adult_price
total_cost

895.0

## Additional exercises

These are extra. You do not need to prepare them for the exercise session.

10. Suppose the cover price of a book is 24.95 EUR, but bookstores get a 40 percent discount. Shipping costs 3 EUR for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies? Print the result in a pretty fashion, using casting where necessary!

In [45]:
cover_price = 24.95
discount = 0.4
shipping = 0.75
nr_books = 60
discount_price = cover_price-(cover_price*discount)

total_cost = round(nr_books*discount_price + 3+shipping*nr_books, 2)

print("The wholesale cost for " + str(nr_books)+ " copies is "+ str(total_cost)+ " EUR")

The wholesale cost for 60 copies is 946.2 EUR

11. Can you identify and explain the errors in the following lines of code? Correct them please!

In [31]:
print("A message")
print("A message")  
print('A message') 
      
#a . after the line
# redundant quotation mark
#redundant quotation mark/mixing of quotation marks

A message
A message
A message

12. Calculate the surface of a circle with a radius of 6. The formula is radius times radius times pi (3.14159).

In [37]:
radius = 6
pi = 3.14159

surface = pi*(radius**2)
surface

113.09724

13. Use Python as a calculator to calculate the number of seconds in seven years (in one line of code). Assign the output to a variable with a clear variable name. Print the result.

In [38]:
seconds_7_years = 7*365*24*60*60
print(seconds_7_years)
#does not include extra days for leap years

220752000

14. Assign a number to the variable 'temperature'. Make sure you can print the statement "it is [temperature] degrees today" using the variable.

In [41]:
temperature = 9

print("It is "+ str(temperature)+" degrees today")

It is 9 degrees today

15. Can you write some code that swaps the values of these two variables? Hint: create an extra variable.

In [46]:
first_number = 3
second_number = 5
temp = second_number
second_number = first_number
first_number = temp

#code here

16. Can you explain why the first cell below runs, and the second doesn't. Change the cells to make sure the error no longer occurs.

In [22]:
brother = 'Hansel '
sister = 'Gretel'
siblings = brother + sister
siblings

'Hansel Gretel'

In [47]:
amount = 12
animals = ' monkeys'
movie_title = str(amount) + animals
movie_title

#This line tries to print integer and string together so the type of amount needs to be changed.

'12 monkeys'

17. Print the first_name and last_name variables you created in an earlier exercise using only one print statement.

In [48]:
print(first_name + " "+ last_name)

Ruben Peeters

18. Think about the output before running it. What do you think this cell will return?

In [49]:
x = 3
y = 15

b = y
y = x
x = b - 1

#print(b) 15
#print(y) 3
#print(x) 14

19. A bit of math. Add brackets to change the value of x so that the statement returns True.

In [62]:
x = 15 - 6 * 2 - (1 + 2)

x == 0

True

20. There are 10 books that will be evenly divided among 3 students. Can you create a python cell to in which you calculate how many books will be left after the even division. TIP: look online to check what the % -operator does.

In [56]:
books = 10
students = 3

books_left = books % students
books_left

1

Bonus: can you try to recreate the previous exercise, without using the %-operator? Change the number of books to check if it worked.

In [61]:
books_left = books - (books//students)*students
books_left

1